

@mixin element-bg($colour) {
  background: $colour;
  background: linear-gradient(to bottom, $colour 0%, lighten($colour, 10%) 100%);
}


html {
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #333;
    color: #fefefe;
}
#root {
}

.app {
    margin: 20px;
}

.controls {
    width: 18%;
    float: left;

    h2 {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 1.5vw;
    }
}



.periodic-table {
    width: 82%;
    float: left;
    position: relative;
}

$element-width: 5.55556%;
$element-inner-margin: 0.15vw;

.info {
    width: $element-width * 10;
    position: absolute;
    top: 0;
    left: $element-width * 2;
    display: none;

    &.active {
        display: block;
    }

    .aspect-ratio {
        padding-bottom: 30%;
    }

    .inner {
        background: #444;
        position: absolute;
        top: $element-inner-margin;
        bottom: $element-inner-margin;
        left: $element-inner-margin;
        right: $element-inner-margin;

        h3 {
            margin: 5px;
            font-size: 1.5vw;
        }
        p {
            margin: 5px;
            font-size: 1.2vw;
        }
    }
}

.element, .spacer {
    position: relative;
    width: $element-width;
    float: left;

    &.clear {
        clear: left;
    }

    .aspect-ratio {
        padding-bottom: 100%;
    }


    .inner {
        position: absolute;
        top: $element-inner-margin;
        bottom: $element-inner-margin;
        left: $element-inner-margin;
        right: $element-inner-margin;
    }
}

.element {

    cursor: pointer;

    .inner {
        color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);

        .element-symbol {
            margin-top: 0.8vw;
            font-size: 1.5vw;
            font-weight: bold;
            text-align: center;
        }
        .element-number {
            font-size: 1vw;
            text-align: center;
        }
    }

    &.state-solid .inner {
        @include element-bg(#74b8bb);
    }
    &.state-liquid .inner {
        @include element-bg(#1b7e60);
    }
    &.state-gas .inner {
        @include element-bg(#b57775);
    }
    &.state-unknown .inner {
        background: #666;
        color: #CCC;
    }

    &.fade .inner {
        opacity: 0.2;
    }
}

$element-category-list: diatomic-nonmetal noble-gas alkali-metal alkaline-earth-metal metalloid polyatomic-nonmetal post-transition-metal transition-metal lanthanide actinide unknown;
$element-category-colours: #995096 #cc7dc4 #e27a83 #61b56b #406698 #825099 #5cc772 #cc6a39 #af4766 #8cc45b #b961cb;
$index: 1;

@each $category in $element-category-list {
    &.#{$category} .inner {
        @include element-bg(nth($element-category-colours, $index));
    }
    .key &.item.#{$category} {
        @include element-bg(nth($element-category-colours, $index));
    }
    $index: $index + 1;
}

.key .item {
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 3px;
    float: left;
    clear: left;
    cursor: pointer;
}

/*
@media (min-width: 1200px) and (min-height: 600px) {
    .periodic-table {
        width: 1008px;
        height: 560px;
    }
    .element,
    .spacer {
        width: 56px;
        height: 56px;
    }
    .element .inner {
        width: 54px;
        height: 54px;

        .element-symbol {
            font-size: 24px;
        }
        .element-number {
            font-size: 11px;
        }
    }
}

@media (min-width: 1600px) and (min-height: 840px) {
    .periodic-table {
        width: 1440px;
        height: 800px;
    }
    .element,
    .spacer {
        width: 5.555555555555556%;
        height: 80px;
    }
    .element .inner {
        width: 76px;
        height: 76px;

        .element-symbol {
            font-size: 32px;
        }
        .element-number {
            font-size: 12px;
        }
    }
}
*/
